/* styles.css */

/* Global styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #222;
    padding: 10px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure main takes full height of viewport */
}

footer {
    background-color: #222;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Plyr specific styling */
.plyr {
    border-radius: 8px; /* Rounded corners for Plyr player */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Drop shadow for Plyr player */
}

.plyr--video {
    background-color: #000; /* Background color for Plyr player */
}

.plyr__controls {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for controls */
}

.plyr__control {
    color: #fff; /* Control icons color */
}

.plyr__progress--played,
.plyr__volume--display {
    background-color: #009688; /* Progress bar and volume bar color */
}

.plyr__time {
    color: #fff; /* Text color for current and duration time */
}

.plyr__tooltip {
    background-color: #009688; /* Tooltip background color */
}

.plyr__tooltip--visible {
    opacity: 1; /* Make tooltip fully visible */
}

@media (max-width: 768px) {
    #playerContainer {
        width: 100%; /* Full width on smaller screens */
    }
}
